Options +Indexes

RewriteEngine on

#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}/$1 [R=301,L]

RewriteBase /

RewriteRule ^jeu/([a-zA-Z0-9-_]+)$   /index.php?game=$1 [L]
RewriteRule ^form/valid-game/([a-zA-Z0-9-_]+)$   /index.php?game=$1&form=1 [L]

RewriteRule ^([a-zA-Z0-9-_]+)$   /index.php?page=$1 [L]

